:root {
  --primary-color: #a7f9fb;
  --secondary-color: #865aa8;
  --heading-font-family: "Archivo Black", sans-serif;
  --secondary-font-family: "Judson", serif;
}

body {
  background: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
  color: var(--primary-color);
}

h3 {
  color: var(--primary-color);
}

p {
  font-size: 20px;
  color: #fff;
}

.hero {
  color: var(--primary-color);
  text-align: left;
  margin-left: 60px;
  padding: 160px 20px;
}

.hero p {
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0;
}

.hero h2 {
  font-size: 20px;
  line-height: 1.5;
}

.container {
  border: 2px solid var(--primary-color);
  border-radius: 6px;
}

.btn-homepage {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

.btn-homepage:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
}

.shecodes-link {
  text-decoration: none;
  color: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 28px;
  }

  .hero h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  .hero p {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .hero {
    padding: 10px;
    margin: 10px;
  }
}
