:root {
  --primary-color: #a7f9fb;
  --secondary-color: #865aa8;
  --primary-font-family: "Archivo Black", sans-serif;
  --secondary-font-family: "Judson", serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font-family);
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

.hero h1,
h2,
h3 {
  color: var(--primary-color);
}

.navbar {
  font-family: var(--secondary-font-family);
}

.navbar-brand {
  font-size: 18px;
  color: var(--secondary-color);
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: var(--primary-color);
}

.hero-main {
  height: 100vh;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-align: left;
}

.hero {
  padding: 180px 80px;
}

.hero p {
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0;
}

.hero h2 {
  font-size: 20px;
  line-height: 1.5;
}

.btn-hero {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

.btn-hero:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
}

.social-links {
  position: absolute;
  list-style: none;
  right: 5%;
}

.fa-github {
  color: var(--primary-color);
  font-size: 32px;
}

.fa-github:hover {
  color: #fff;
}

.fa-linkedin {
  color: var(--primary-color);
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fa-linkedin:hover {
  color: #fff;
}

.fa-at {
  color: var(--primary-color);
  font-size: 32px;
  margin-bottom: 5px;
}

.fa-at:hover {
  color: #fff;
}

.fa-instagram {
  color: var(--primary-color);
  font-size: 32px;
}

.fa-instagram:hover {
  color: #fff;
}

.pointer {
  position: absolute;
  bottom: 10px;
  display: block;
  left: 50%;
}

.projects-link {
  font-family: var(--secondary-font-family);
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
}

.projects-link:hover {
  color: #fff;
}

.projects-section h2 {
  color: var(--secondary-color);
}

.projects-section p {
  font-size: 23px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 21px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.container p {
  font-family: var(--secondary-font-family);
}

.btn-launch {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

.btn-launch:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
}

.stack {
  font-size: 18px;
}

.footer {
  font-family: var(--secondary-font-family);
  background-color: var(--secondary-color);
}

.footer h2 {
  color: var(--primary-color);
  font-size: 28px;
}

.github-link {
  color: #212529;
  font-size: 14px;
}

.signature {
  text-decoration: none;
  color: #fff;
}

/* About Me page */

#about {
  color: #fff;
  text-decoration: none;
}

.aboutme p {
  font-size: 18px;
}

.github-projects-link {
  color: var(--secondary-color);
  text-decoration: none;
}

.github-projects-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .hero {
    padding: 110px 20px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 20px;
  }

  .projects-section {
    text-align: center;
  }

  .projects-section p {
    font-size: 18px;
  }
}
